.container {
display: flex;
gap: 20px;
}

.left {
    height: 600px;
    width: 1000px;
    background-color: aquamarine;
    padding: 5px 20px;
}

.right {
    height: 600px;
    width: 1000px;
    background-color: aquamarine;
    padding: 5px 20px;
}

p {
    font-style: italic;
}

h1 {
    text-align: center;
}